name: Deploy Github Pages

# 在master分支发生push事件时触发。
on:
  push:
    branches:
      - master
jobs: # 工作流
  build:
    runs-on: ubuntu-latest #运行在虚拟机环境ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v1 # 使用的动作。格式：userName/repoName。作用：检出仓库，获取源码。 官方actions库：https://github.com/actions
      - name: Use Node.js ${{ matrix.node-version }} # 步骤2
        uses: actions/setup-node@v1 # 作用：安装nodejs
        with:
          node-version: ${{ matrix.node-version }} # 版本
      - name: Install
        run: npm install

      - name: Build
        run:  npm run docs:build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.ACCESS_TOKEN }}
          external_repository: xu-ux/x-blog
          publish_branch: pages
          publish_dir: docs/.vuepress/dist
          
      - name: Notification
        run: |
          curl https://qmsg.zendee.cn/group/${{ secrets.QMSG_KEY }} -X POST -d 'msg=部署完成, 请访问 xu-ux.github.io/x-blog 进行确认 '

